/* Wrapper Styling */

#wrapper {
  background-image: url("img/bcg.jpg");
  background-position: center;
  min-height: 1000px;
  font-family: 'Audiowide', cursive;
}
/* Nav Bar Styling */

#textBar {
  width: 100%;
  background-color: transparent;
  color: white;
}

.subButton {
  width: 100%;
  border-radius: 5%;
  color: white;
}

.subButton:hover, .subButton:focus {
  text-decoration: none;
  color: #FBFF00;
  font-weight: bold;
}

.headDiv {
  text-align: center;
}

.headTitle {
  letter-spacing: .2em;
  margin: 1em 0;
}

/* Card Styling */

.card {
  display: inline-block;
  width: 31%;
  margin: 0 1em;
  padding: 0;
  background: rgba(248, 248, 255, 0.8);
  border: solid 1.5px;
}

.picDiv {
  text-align: center;
}

img {
  width: 100%;
}

.about {
  margin: 0;
}

p {
  margin: 0;
  padding: 3px 0;
}

.cardHead {
  text-align: center;
  margin: 0;
  padding: .8em;
}

.autoM {

}
/* Style changes toggled upon click event */

.changes {
  border: yellow solid 5px !important;
  background: white;
}














