/* Wrapper Styling */

#wrapper {
  background-image: url("img/bcg.jpg");
  background-position: center;
  min-height: 1000px;
}
/* Nav Bar Styling */

.topNav {

}

#textBar {
  width: 100%;
  background-color: transparent;
  color: white;
}

.subButton {
  width: 100%;
  border-radius: 5%;
  color: white;
}

.subButton:hover, .subButton:focus {
  text-decoration: none;
  color: #FBFF00;
  font-weight: bold;
}

/* Main Body Styling */

.headDiv {
  text-align: center;
}

.headTitle {
  font-family: 'Audiowide', cursive;
  letter-spacing: .2em;
}

/* Card Styling */

.card {
  display: inline-block;
  width: 31%;
  margin: 0 1em;
  padding: 0;
  background: rgba(248, 248, 255, 0.8);
}

.picDiv {
  text-align: center;
}

img {
  width: 100%;
}

.about {
  margin: 0;
}

/* Style changes toggled upon click event */

.card-changes {
  border: yellow solid 3px;
  background: white;
}














